<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/konva@3.3.3/konva.min.js"></script>
    <title>Flowchart</title>
</head>
<body>

    <!-- Export as PNG button -->
    <button onclick="save()" class="btn btn-outline-dark" style="z-index: 100;position: absolute;top: 40px;left: 30px;">Export as PNG</button>
    <div id="wrap">
    <!-- Guide image -->
    <img src="https://i.ibb.co/D8hKMTG/guide-01-3.png" alt="guide" style="position: absolute;top: 360px;left: 30px;" width="160">
    <div style="position: relative">
    <div id="container" style="position: absolute; overflow:scroll;"></div>
    <div class="flex-container">
        <!-- Jinja loop to create the steps in a flexbox -->
        <!-- Light button for step on single readset and dark button for step on multiple readset-->
        {% for step in data %}
            <div class="flex-item dropdown">
            {% if step.readset_type|string()=='single' %}
                <button id={{step.step_name}} class="btn btn-light dropdown-toggle step" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{step.step_name}}</button>
            {% else %}
                <button id={{step.step_name}} class="btn btn-dark dropdown-toggle step" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{step.step_name}}</button>
            {% endif %}
            <div class="dropdown-menu p-4 text-muted" style="width: 300px; font-size: 7px;">
                <p style="width: 300px; font-size: 12px;"><b>About the step</b></p>
                <p>{{step.about}}</p>
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <!-- div to contain the input/output info -->
    <div id="io"></div>
    </div>
    <div style="position: absolute;top:450px;width: 3000px" id="image"></div>
    <script src="html2canvas.js"></script>
    <script src="canvas.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
