.flex-container {
  position: relative;
  left:10px;
  top:200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-flow: row;

}

.flex-item {
  margin-left: 8px;
}
.btn{

  border: 1px solid rgb(70, 65, 65);
  padding: 5px
}
.step{
  word-wrap: break-word;
  font-weight: bold;
  font-size: 7px;
  text-align: center;
}
.button{
  word-wrap: break-word;
  font-weight: bold;
  font-size: 7px;
  text-align: center;
}